{% if section.settings.section_enable %}

<div class="coffee__menu_area" id="section-{{ section.id }}">

  {% if section.settings.section_title_enable  %}  
  <div class="section-title-container mb-80 mb-sm-40">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <!--=======  section title  =======-->
          <div class="section-title section-title--one {% if section.settings.text_align == "left" %}text-left {% elsif section.settings.text_align == "right" %} text-right {% elsif section.settings.text_align == "center" %} text-center {% endif %}">

            {% if section.settings.section_title != blank %}
            <h1>{{ section.settings.section_title }}</h1>
            {% endif %}

            {% if section.settings.section_subtitle  != blank %}
            <p class="subtitle subtitle--deep mb-0">{{ section.settings.section_subtitle }}</p>
            {% endif %}
          </div>
        </div>

        <!--=======  End of section title  =======-->
      </div>
    </div>
  </div>
  {% endif %}

<div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
    <div class="row">
      <div class="col-lg-12">

        <div class="pm-list-wrapper">
          <div class="row">
            
            {% for block in section.blocks %}

            {%- case block.type -%}
            {% when 'single_coffee_menu' %}
            <div class="col-xl-6 col-lg-6 col-md-6 l-item mt-30">
              <div class="popular-menu__list">
                <div class="thumb">
                  {%- if block.settings.custom_collection_img != blank  -%}            
                  {%- render 'lazyload_image_src',
                	  image: block.settings.custom_collection_img,
                  size: 'master' -%}
                  {%- else -%}
                  <img data-src=" https://via.placeholder.com/80x80" class="lazyload img-fluid" alt="coffee menu Image">
                  {%- endif -%}
                </div>
                <div class="content">
                  {% if block.settings.coffee_title != blank %}
                  <h3 class="title border-effect">{{ block.settings.coffee_title }}</h3>
                  {% endif %}
                  
                  {% if block.settings.coffee_price != blank %}
                  <span class="price">{{ block.settings.coffee_price }}</span>
                  {% endif %}
                  
                </div>
              </div>
            </div>
            
          {% endcase %}
          {% endfor %}
            
            
  
          </div>
        </div>
      </div>
    </div>
  </div>




  
  
  
  {% comment %}
  
<div class="bans-testimonial multi-item-testimonial-area {% if section.settings.testmonial_design2 -%} testmonail_design2 {%- endif -%}">
  <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
    <div class="row">
      <div class="col-lg-12">
        <!--=======  testmonial slider container  =======-->

        {% capture data_slick_activation %}
        
        data-slick='{
        "slidesToShow": {{ section.settings.slide_items_show }},
        "slidesToScroll": {{ section.settings.slide_items_show }},
        "arrows": {{ section.settings.navigation_enable }},
        {% if settings.rtl_enable %}                
        "rtl": true,
        {% endif %}
        "autoplay": {{ section.settings.autoplay_true }},
        "autoplaySpeed": 5000,
        "speed": 1000,
        "responsive":[
        {"breakpoint":1501, "settings": {"slidesToShow": {{ section.settings.slide_items_show }}} },
        {"breakpoint":1199, "settings": {"slidesToShow": {{ section.settings.items_more_than_1200 }}} },
        {"breakpoint":991, "settings": {"slidesToShow": {{ section.settings.items_more_than_992 }}, "arrows": false} },
        {"breakpoint":767, "settings": {"slidesToShow": {{ section.settings.items_more_than_768 }}, "arrows": false} },
        {"breakpoint":575, "settings": {"slidesToShow": {{ section.settings.items_more_than_480 }}, "arrows": false} },
        {"breakpoint":479, "settings": {"slidesToShow": {{ section.settings.items_more_than_320 }}, "arrows": false} }
        ]}'
        
        {% endcapture %}
        
        <div class="multi-testimonial-slider-container testmonialSliderOne" {{ data_slick_activation }}>
          {% for block in section.blocks %}
    
          {%- case block.type -%}
          {% when 'single_testmonial' %}
          <div class="col">
            <div class="testimonial-item multi-testimonial-single-item">
              {% if block.settings.testmonial_description != blank %}
              <div class="multi-testimonial-single-item__text">
                {{ block.settings.testmonial_description }}
              </div>
              {% endif %}
              
              <div class="multi-testimonial-single-item__author-info">
                <div class="image">
                  {%- if block.settings.custom_collection_img != blank  -%}            
                  {%- render 'lazyload_image_src',
                	  image: block.settings.custom_collection_img,
                  	  size: 'master' -%}
                  {%- else -%}
                  <img data-src=" https://via.placeholder.com/80x80" class="lazyload img-fluid" alt="Testmonial Image">
                  {%- endif -%}
                </div>
                <div class="content">
                  {% if block.settings.testmonial_name != blank %}
                  <p class="name">{{ block.settings.testmonial_name }}</p>
                  {% endif %}
                  {% if block.settings.testmonial_designation != blank %}
                  <span class="designation">{{ block.settings.testmonial_designation }}</span>
                  {% endif %} 
                </div>
              </div>
            </div>
          </div>
          {% endcase %}
          {% endfor %}
        </div>
        <!--=======  End of testmonial slider container  =======-->
      </div>
    </div>
  </div>
</div>
{% endcomment %}
  
  
</div>
{% endif %} 


{%- capture css -%}
<style>
  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- when 'section_content_style' -%}
  #section-{{ section.id }} .multi-testimonial-single-item__text {
    color: {{ block.settings.testmonial_content_color }};
  }
  #section-{{ section.id }} .multi-testimonial-single-item__author-info .content .name {
    color: {{ block.settings.testmonial_name_color }};
  }
  #section-{{ section.id }} .multi-testimonial-single-item__author-info .content .designation {
    color: {{ block.settings.testmonial_content_color }};
  }
  #section-{{ section.id }} .section-title h1 {
    color: {{ block.settings.section_title_color }};
  }
  
  {%- endcase -%}
  {%- endfor -%}
  
  
  #section-{{ section.id }} .multi-testimonial-slider-container .slick-arrow {
    color: {{ section.settings.arrow_icon_color }};
  }
</style>
{%- endcapture -%}

{{ css | strip_newlines
       | replace: '  ', '' 
       | replace: ': ', ':'
       | replace: ' {', '{'
}}

{%- render 'section_typography' -%}
{% schema %}
  {
    "name": "Coffee Menu Section",
    "settings": [
		{
		  "type": "header",
          "content": "Section Enable"
        },
		{
          "type": "checkbox",
          "id": "section_enable",
          "label": "Section Enable",  
          "default": true
      	},
		{
		  "type": "header",
          "content": "Column Wrapper"
        },
		{
          "type":  "radio",
          "id":    "container_width",
          "label": "Container Width",
          "options": [
            { "value": "container", "label": "Container" },
            { "value": "fluid", "label": "Full Width" }
          ],
          "default":   "container"
        },
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "checkbox",
          "id": "section_title_enable",
          "label": "Section Title Enable",  
          "default": false
      	},
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Bans Popular Menu"
      	},
		{
          "type": "text",
          "id": "section_subtitle",
          "label": "Section SubTitle",
          "default": "We Produce Blends of the Most Aromatic Coffee"
      	},
		{
          "type":  "radio",
          "id":    "text_align",
          "label": "Section Title Align",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" },
			 { "value": "center", "label": "Center" }
          ],
          "default":   "center"
        }

	],	
	"blocks":[
	   {
          "type": "single_coffee_menu",
          "name": "Single Coffee Menu",
		   "settings": [
            {
              "type": "image_picker",
              "id": "custom_collection_img",
              "label": "Coffee Thumbnail",
              "info": "Recommended Size: 80 x 80 px"
              },
              {
                  "type": "text",
                  "id": "coffee_title",
                  "label": "Coffee Name",
                  "default": "Americano Rosted GRED"
              },
			  {
                "type": "text",
                "id": "coffee_price",
                "label": "Coffee Price",
                "default": "$25"
              }
          ]
       },
		{
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#f5f5f5"
			}
          ]
       },
		{
          "type": "section_content_style",
          "name": "Section Content Style",
		  "limit": 1,
          "settings": [
			{
			  "type": "color",
			  "id": "testmonial_content_color",
			  "label": "Testmonial Content Color",
			  "default": "#777"
			},
			{
			  "type": "color",
			  "id": "testmonial_name_color",
			  "label": "Testmonial Name Color",
			  "default": "#333"
			},
			{
			  "type": "color",
			  "id": "section_title_color",
			  "label": "Section Title Color",
			  "default": "#333"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Coffee Menu",
		  "category": "9.2 Theme Others",
		  "blocks":[
            {
            	"type": "single_coffee_menu"
            },
			{
            	"type": "single_coffee_menu"
            },
			{
            	"type": "single_coffee_menu"
            },
			{
            	"type": "single_coffee_menu"
            }
          ]
		}
	]
  }
{% endschema %}
