{%- capture html -%}
{% if section.settings.section_enable %}
<div id="section-{{ section.id }}" class="mb-100 mb-sm-80">
  {% if section.settings.section_enable %}
  <div class="section-title-container mb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          {% if section.settings.section_title != blank %}
          <div class="section-title section-title--one text-center">
            <h1>{{ section.settings.section_title }}</h1>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="contact-form-area new_cnt_areaa">
    <div class="container">
      <div class="row">

        <div class="col-lg-6">
          <div class="new_cnt_info_areaa">
            {% if section.settings.information_title != blank %}
            <h3 class="min__ntitle">{{ section.settings.information_title }}</h3>
            {% endif %}
            {% if section.settings.information_content != blank %}
            <p class="title_contnt">{{ section.settings.information_content }}</p>
            {% endif %}


            {% for block in section.blocks %}
            {%- case block.type -%}
            {% when 'address' %}
            <div class="single-icon-box">
              {% if block.settings.address_icon != blank %}
              <div class="icon-box-icon">
                <i class="ion-{{ block.settings.address_icon }}"></i>
              </div>
              {% endif %}
              <div class="icon-box-content">
                {% if block.settings.address_title != blank %}
                <h3 class="title">{{ block.settings.address_title }}</h3>
                {% endif %}

                {% if block.settings.address_content != blank %}
                <p class="content">{{ block.settings.address_content }}</p>
                {% endif %}
              </div>
            </div>

            {% when 'contact' %}

            <div class="single-icon-box">
              {% if block.settings.phone_icon != blank %}
              <div class="icon-box-icon">
                <i class="ion-{{ block.settings.phone_icon }}"></i>
              </div>
              {% endif %}

              <div class="icon-box-content">
                {% if block.settings.phone_title != blank %}
                <h3 class="title">{{ block.settings.phone_title }}</h3>
                {% endif %}
                {% if block.settings.phone_content != blank %}
                <p class="content">{{ block.settings.phone_content }}</p>
                {% endif %}
              </div>
            </div>
            
            <div class="single-icon-box">
              {% if block.settings.email_icon != blank %}
              <div class="icon-box-icon">
                <i class="ion-{{ block.settings.email_icon }}"></i>
              </div>
              {% endif %}

              <div class="icon-box-content">
                {% if block.settings.email_content != blank %}
                <p class="content">{{ block.settings.email_content }}</p>
                {% endif %}
              </div>
            </div>
            {% when 'special_note' %}
            <div class="single-icon-box">

              {% if block.settings.special_icon != blank %}
              <div class="icon-box-icon">
                <i class="ion-{{ block.settings.special_icon }}"></i>
              </div>
              {% endif %}

              <div class="icon-box-content">
                
                <h3 class="title">{{ block.settings.special_titlex }}</h3>
               
                {% if block.settings.special_content != blank %}
                <p class="content">{{ block.settings.special_content }}</p>
                {% endif %}
              </div>
            </div> 
            {% endcase %}
            {% endfor %}  

          </div>
        </div>



        <div class="col-lg-6">
          <div class="bans-form contact-form">
            {% render 'contact-form' %}
          </div>
        </div>












      </div>







    </div>
  </div>
</div>

{% endif %}
{%- endcapture -%}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}
{% render 'section_typography' %}

{% schema %}
  {
    "name": "Contact Form",
    "settings": [
		{
		  "type": "header",
          "content": "Section Enable"
        },
		{
          "type": "checkbox",
          "id": "section_enable",
          "label": "Section Enable",  
          "default": true
      	},
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "checkbox",
          "id": "section_title_enable",
          "label": "Section Title Enable",  
          "default": true
      	},
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Get in touch"
      	},
		{
          "type": "header",
          "content": "Our Information"
        },
		{
          "type": "text",
          "id": "information_title",
          "label": "Information Title",
          "default": "Our Information"
      	},
		{
          "type": "text",
          "id": "information_content",
          "label": "Information Content",
          "default": "If you would like to know more about our policies, you can consult our Terms and Conditions. You will also be able to follow your order (tracking number will be provided in an e-mail after ordering). You wish to return some items"
      	},
		{
          "type": "header",
          "content": "Contact Form"
        },
        {
          "type": "text",
          "id": "name_placeholder",
          "label": "Name Placeholder",
          "default": "Name *"
        },
        {
          "type": "text",
          "id": "email_placeholder",
          "label": "Email Placeholder",
          "default": "Email *"
        },
        {
          "type": "text",
          "id": "subject_placeholder",
          "label": "Subject Placeholder",
          "default": "Subject *"
        },
        {
          "type": "text",
          "id": "message_placeholder",
          "label": "Email Placeholder",
          "default": "Message *"
        },
        {
          "type": "text",
          "id": "form_button_name",
          "label": "Form Button Name",
          "default": "Submit"
        }
	],
	"blocks":[
	   {
          "type": "address",
          "name": "Contact Address",
		   "settings": [
              {
                "type": "text",
                "id": "address_icon",
                "label": "Address Icon",
                "default": "location",
                "info": "Ionicons Icon [See Icon](https:\/\/ionicons.com\/v2\/cheatsheet.html)"
              },
              {
                  "type": "text",
                  "id": "address_title",
                  "label": "Address Title",
                  "default": "ADDRESS"
              },
              {
                  "type": "textarea",
                  "id": "address_content",
                  "label": "Address Content",
                  "default": "1800 Abbot Kinney Blvd. Unit D & E Venice"
              },
			  {
                "type": "select",
                "id": "lg_banner_col",
                "label": "Desktop",
                "options":[
                      {
                          "label": "Gird 6",
                          "value": "6"
                      },
                      {
                          "label": "Gird 4",
                          "value": "4"
                      },
                      {
                          "label": "Gird 3",
                          "value": "3"
                      }
                  ],
                  "default": "4"
              },
              {
                "type": "select",
                "id": "md_banner_col",
                "label": "Tablet",
                "options":[
                      {
                          "label": "Gird 6",
                          "value": "6"
                      },
                      {
                          "label": "Gird 4",
                          "value": "4"
                      },
                      {
                          "label": "Gird 3",
                          "value": "3"
                      }
                  ],
                  "default": "4"
              }
          ]
       },
		{
          "type": "contact",
          "name": "Contact Phone",
		   "settings": [
              {
                "type": "text",
                "id": "phone_icon",
                "label": "Phone Icon",
                "default": "ios-telephone",
                "info": "Ionicons Icon [See Icon](https:\/\/ionicons.com\/v2\/cheatsheet.html)"
              },
			  {
                "type": "header",
                "content": "Phone"
              },
              {
                  "type": "text",
                  "id": "phone_title",
                  "label": "Phone Title",
                  "default": "CONTACT"
              },
              {
                  "type": "textarea",
                  "id": "phone_content",
                  "label": "Address Content",
                  "default": "Mobile: (+88) – 1990 – 6886 <br> Hotline: 1800 – 1102"
              },
			  {
                "type": "header",
                "content": "Email"
              },
			  {
                "type": "text",
                "id": "email_icon",
                "label": "Email Icon",
                "default": "ios-email",
                "info": "Ionicons Icon [See Icon](https:\/\/ionicons.com\/v2\/cheatsheet.html)"
              },
              {
                  "type": "textarea",
                  "id": "email_content",
                  "label": "Email Content",
                  "default": "Mail: contact@bansstore.com"
              }
          ]
       },
	   {
          "type": "special_note",
          "name": "Special Note",
		   "settings": [
              {
                "type": "text",
                "id": "special_icon",
                "label": "Special Icon",
                "default": "ios-clock-outline",
                "info": "Ionicons Icon [See Icon](https:\/\/ionicons.com\/v2\/cheatsheet.html)"
              },
              {
                  "type": "text",
                  "id": "special_titlex",
                  "label": "Special Title",
                  "default": "Open Hours"
              },
              {
                  "type": "textarea",
                  "id": "special_content",
                  "label": "Special Content",
                  "default": "Monday – Friday : 09:00 – 20:00 <br> Sunday & Saturday: 10:30 – 22:00"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
		
	],
	"presets": [
		{
		  "name": "Conact Form",
		  "category": "9.3 Contact"
		}
	]
  }
{% endschema %}
